[gammaloop_state]
state_name = "scalar_box_output"
integration_state_name = "scalar_box_integration"
process_name = "scalar_box"

[layered_integrator]
integrator_type = "madnis"

[graph]
from_state = false
overwrite_graph_properties = true

[graph.graph_properties]
edge_src_dst_vertices=[[0, 1], [1, 2], [2, 3], [3, 0]]
edge_masses=[1.0, 1.0, 1.0, 1.0]
edge_momentum_shifts = [
    [-0.03734458315384239, -0.06393671561700484, 0.0657613394982612], 
    [0.0, 0.0, 0.0], 
    [-0.03734458315384239, -0.06393671561700484, 0.2657613394982612], 
    [-0.03734458315384239, -0.06393671561700484, 0.16576133949826122]
    ]
graph_external_vertices = [0, 1, 2, 3]
graph_signature = [[1], [1], [1], [1]]
momtrop_edge_weight = [0.5625, 0.5625, 0.5625, 0.5625]
lmb_array = [[1], [0], [2], [3]]

[integrator.madnis]
batch_size = 2048
discrete_model = "transformer"
learning_rate = 1e-4

[integrator.madnis.transformer]
embedding_dim = 128
feedforward_dim = 256
heads = 2
mlp_units = 128
transformer_layers = 2

[layered_integrand]
integrand_type = "gammaloop"
training_phase = "real"
n_cores = 16

[layered_parameterisation.layer_0]
parameterisation_type = "spherical"
[layered_parameterisation.layer_1]
parameterisation_type = "mc_layer"
mc_weight_exponent = 0.5

[scripts.training_prog]
n_training_steps = 1000
n_samples = 10000
n_samples_after_training = 100000
